
#contacto {
    background-image: url(assets/img/lavado-a-presion.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}


form {
    background-color: rgba(214, 207, 169, 0.904);
    padding: 2.5rem 2.5rem;
    border-radius: 2rem;
    width: 580px;
    margin: auto;

}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

label.error.fail-alert {
    border-radius: 4px;
    line-height: 1;
    padding: 2px 0 6px 6px;
    background: #ffe6eb;
}

input.valid.success-alert {
    border: 2px solid #4CAF50;
    color: green;
}

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}
